﻿<script>
    $(function () {
        $("#dd1, #dd2").datepicker();
    });
</script>

@if (ViewBag.Record == null)
{
    <div style="width: 100%; height: 60px;" class="HeadFont FontColorBlack">Новая заметка</div>
    <br/>
    <form id="addRecordForm">
        <table style="width: 200px;">
            <tr>
                <td>Тип:</td>
                <td>
                    <select name="Type" class="Input">
                        <option value="1">Дело</option>
                        <option value="2">Памятка</option>
                        <option value="3">Встреча</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Дата:
                </td>
                <td>
                    <input type="text" name="DateTimeStart" id="dd1" class="Input" placeholder="Дата">
                </td>
            </tr>
            <tr>
                <td>Тема:</td>
                <td><input type="text" name="Theme" class="Input"/></td>
            </tr>
            <tr>
                <td>Место:</td>
                <td><input type="text" name="Place" class="Input"/></td>
            </tr>
            <tr>
                <td>Дата завершения:</td>
                <td><input type="text" name="DateTimeEnd" id="dd2" class="Input" placeholder="Дата"></td>
            </tr>
        </table>
    </form>
    <br/>
    <input type="button" value="Создать" class="GreenButton" id="AddNewRecord"/>

}
else
{
    <div style="width: 100%; height: 60px;" class="HeadFont FontColorBlack">Редактирование заметки</div>
        <br />
        <form id="addRecordForm">
            <table style="width: 200px;">
                <tr>
                    <td>Тип:</td>
                    <td>
                        <select name="Type" class="Input">
                            @if (ViewBag.Record.Type == 1)
                            {
                                <option selected="selected" value="1">Дело</option>
                            }
                            @if (ViewBag.Record.Type == 2)
                            {
                                <option selected="selected" value="2">Памятка</option>
                            }
                            @if (ViewBag.Record.Type == 3)
                            {
                                <option selected="selected" value="3">Встреча</option>
                            }

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата:
                    </td>
                    <td>
                        <input type="text" name="DateTimeStart" id="dd1" class="Input" placeholder="Дата" value="@ViewBag.Record.DateTimeStart">
                    </td>
                </tr>
                <tr>
                    <td>Тема:</td>
                    <td><input type="text" name="Theme" class="Input" value="@ViewBag.Record.Theme"/></td>
                </tr>
                <tr>
                    <td>Место:</td>
                    <td><input type="text" name="Place" class="Input" value="@ViewBag.Record.Place"/></td>
                </tr>
                <tr>
                    <td>Дата завершения:</td>
                    <td><input type="text" name="DateTimeEnd" id="dd2" class="Input" placeholder="Дата" value="@ViewBag.Record.DateTimeEnd"></td>
                </tr>
            </table>
            <input type="hidden" name="Id" value="@ViewBag.Record.Id"/>
        </form>
    <br/>
   <input type="button" value="Сохранить" class="GreenButton" id="UpdateRecord" />
}