﻿@using Organizer.Models
@{
    var records = (IEnumerable<Records>)ViewBag.Records;
}
<div class="TypesRecord">
    <span data-id="1">Дела (@records.Count(x => x.Type == 1))</span>
    <span data-id="2">Памятки (@records.Count(x => x.Type == 2))</span>
    <span data-id="3">Встречи (@records.Count(x => x.Type == 3))</span>
    <span data-id="all" style="float: right">Все записи (@records.Count())</span>
</div>
<table class="recordtable">
    <tr>
        <th>
            Время
        </th>
        <th>
            Тема
        </th>
        <th>
            Место
        </th>
        <th>
            Дата завершения
        </th>
    </tr>
    @foreach (var b in (IEnumerable<Records>)ViewBag.Records)
    {
        if (b.Done)
        {
            <tr class="@b.Type tr" style="background: #baf2b4" id="@b.Id">
                <td>@b.DateTimeStart.ToString("dd-MM-yyyy HH:mm")</td>
                <td>@b.Theme</td>
                <td>@b.Place</td>
                <td>@b.DateTimeEnd</td>
                <td class="btd" style="border: 0px; ">
                   
                    <input type="button" data-id="@b.Id" class="Delete" style="margin-left: 59px;"/>
                </td>
            </tr>
        }
        else
        {
            <tr class="@b.Type tr "  id="@b.Id">
                <td>@b.DateTimeStart.ToString("dd-MM-yyyy HH:mm")</td>
                <td>@b.Theme</td>
                <td>@b.Place</td>
                <td>@b.DateTimeEnd</td>
                <td class="btd" style="border: 0px; width: 100px;">
                    <input type="button" data-id="@b.Id" class="Done"  style="margin-left: 7px;" />
                    <input type="button" data-id="@b.Id" class="Delete"   style="margin-left: 7px;"/>
                </td>
            </tr>
        }


    }
</table>

