﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <script src="/scripts/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/Style.css"/>
    <link rel="stylesheet" type="text/css" href="/scripts/jquery-ui-1.11.4.custom/jquery-ui.css" />
    <script src="/scripts/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="/scripts/Organizer.js"></script>
    <title>Органайзер</title>
    <script>
    $(function () {
        $("#datepicker").datepicker();
    });
    </script>
</head>
<body>
<div class="Conacts">
    <span class="HeadFont FontColorWhite">Контакты</span>
    <img src="/Content/images/Add1.png" alt="Добавить" class="addImg" id="AddContact">
    <input type="text" placeholder="Поиск контакта" class="MenuInput" id="SearchContact"/>
    <div id="contact">
        @RenderPage("/Views/Contact/_Contacts.cshtml")
    </div>
   
</div>
<div class="Menu">
    <div style="width: 100%; height: 47px;">
        <div id="diaryHead" class="HeadFont FontColorWhite">Записи на сегодня</div>
        <img src="/Content/images/Add1.png" alt="Добавить" class="addImg" id="addRecord">   
    </div>
  
    <select id="viewParams" class="MenuSelect">
        <option value="day">Записи на сегодня</option>
        <option value="week">Записи на неделю</option>
        <option value="month">Записи на месяц</option>
        <option value="list">Все записи</option>
    </select>
    <input type="text" placeholder="Поиск заметки" class="MenuInput" id="searchRecord"/>
    <input type="text" id="datepicker" class="MenuInput" placeholder="Дата">

</div>

<div id="records" class="Records">
 
    @RenderPage("_Records.cshtml")
</div>
    <div class="Overlay"></div>
<div class="Popup">
 
</div>   
</body>
</html>
