﻿@using Organizer.Models
<script>
    $(function() {
        $("#accordion").accordion({
            collapsible: true,
            active: false
    });

    });
</script>
<div class="ContactList">


    <div id="accordion">
        @foreach (var b in (IEnumerable<ContactView>)ViewBag.Contacts)
        {
            <h3 class="@b.Contact.Id-del">@b.Contact.Surname @b.Contact.Name @b.Contact.Patronimyc <img src="/Content/images/pencil.png" alt="Изменить" class="updateImg" id="@b.Contact.Id"></h3>
            <div class="@b.Contact.Id-del">
                <p>
                    @{
                        DateTime date;
                        if (DateTime.TryParse(b.Contact.Birthday.ToString(), out date))
                        {
                            <b>Дата рождения</b><br/>
                            @date.ToString("dd.MM.yyyy")
                            <br/>
                        }
                        if (!String.IsNullOrEmpty(b.Contact.Organization))
                        {
                            <b>Организация </b><br/>@b.Contact.Organization
                            <br/>
                        }
                        if (!String.IsNullOrEmpty(b.Contact.Post))
                        {
                            <b>Должность</b><br/>
                            @b.Contact.Post<br/>
                        }
                        if (b.ContactInfo != null)
                        {
                            foreach (var inf in b.ContactInfo)
                            {
                                <b>@inf.Type </b><br/>
                                @inf.Value<br/>
                            }
                        }
                    }
                </p>
             
            </div>
        }


    </div>
</div>