﻿<script>
    $(function() {
        $("#Birthday").datepicker();
    });
</script>
@if (ViewBag.Contact == null)
{
    <div style="width: 100%; height: 60px;" class="HeadFont FontColorBlack">Новый контакт</div>
    <br/>
    <form id="addForm">
        <table style="width: 200px;">

            <tr>
                <td>
                    Фамилия:
                </td>
                <td>
                    <input type="text" name="Surname" class="Input" placeholder="Фамилия">
                </td>
            </tr>

            <tr>
                <td>
                    Имя:
                </td>
                <td>
                    <input type="text" name="Name" class="Input" placeholder="Имя">
                </td>
            </tr>

            <tr>
                <td>
                    Отчество:
                </td>
                <td>
                    <input type="text" name="Patronimyc" class="Input" placeholder="Отчество">
                </td>
            </tr>
            <tr>
                <td>Дата рождения:</td>
                <td><input type="text" name="Birthday" id="Birthday" class="Input" placeholder="Дата рождения"></td>
            </tr>
            <tr>
                <td>Организация:</td>
                <td><input type="text" name="Organization" class="Input"/></td>
            </tr>
            <tr>
                <td>Должность:</td>
                <td><input type="text" name="Post" class="Input"/></td>
            </tr>


        </table>
    </form>
    <br/>
    <input type="button" value="Создать" class="GreenButton" id="AddNewContact"/>
}
else
{
    <div style="width: 100%; height: 60px;" class="HeadFont FontColorBlack">Изменить контакт</div>
        <br />
        <form id="addForm">
            <table style="width: 200px;">

                <tr>
                    <td>
                        Фамилия:
                    </td>
                    <td>
                        <input type="text" name="Surname" class="Input" placeholder="Фамилия" value="@ViewBag.Contact.Surname">
                    </td>
                </tr>

                <tr>
                    <td>
                        Имя:
                    </td>
                    <td>
                        <input type="text" name="Name" class="Input" placeholder="Имя" value="@ViewBag.Contact.Name">
                    </td>
                </tr>

                <tr>
                    <td>
                        Отчество:
                    </td>
                    <td>
                        <input type="text" name="Patronimyc" class="Input" placeholder="Отчество" value="@ViewBag.Contact.Patronimyc">
                    </td>
                </tr>
                <tr>
                    <td>Дата рождения:</td>
                    <td><input type="text" name="Birthday" id="Birthday" class="Input" placeholder="Дата рождения" value="@ViewBag.Contact.Birthday"></td>
                </tr>
                <tr>
                    <td>Организация:</td>
                    <td><input type="text" name="Organization" class="Input" value="@ViewBag.Contact.Organization"/></td>
                </tr>
                <tr>
                    <td>Должность:</td>
                    <td><input type="text" name="Post" class="Input" value="@ViewBag.Contact.Post"/></td>
                </tr>


            </table>
            <input type="hidden" value="@ViewBag.Contact.Id" name="Id"/>
        </form>
        <br />
    <input type="button" value="Сохранить" class="GreenButton" id="SaveUpdateContact"/>
    <input type="button" value="Удалить" class="RedButton" id="@ViewBag.Contact.Id" />
}