﻿body {
    font-family: segoe ui;
}

.Conacts {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 290px;
    background: #3e3d3d;
    padding: 10px;
   
}

.MenuInput {
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 4px;
    padding: 2px 0px 2px 5px;
    margin: 15px 10px 0px 0px;

}

.MenuSelect {
    width: 200px;
    height: 29px;
    border: none;
    border-radius: 4px;
    padding: 2px;
    margin: 15px 10px 0px 0px;
}

.HeadFont {
    font-size: 35px;
    font-weight: 100;
    float: left;
}

.FontColorWhite {
    color: #FFF;
}
.FontColorBlack {
    color: #000;
}
.Menu {
    position: fixed;
    top: 0%;
    left: 310px;
    background: #2aaa2a;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.Records {
    margin: 120px 0px 0px 310px;
  
    height: 100%;
    padding: 10px
}
.TypesRecord {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #708090
    
}

 .TypesRecord span {
     margin: 0px 30px 0px 0px;
 }
  .TypesRecord span:hover {
      cursor: pointer;
      color: #006400;
 }

  table {
      width: 100%;
      border-collapse: collapse;
  }

 .Records td, th {
    
      border: 1px solid #a9a9a9;
      height: 40px;
  }

  .Done {
   background:   #f0efef url("/Content/images/accept.png");   
    width: 40px;
    height: 35px;
    background-position: center;
    background-size: 61%;
    background-repeat: no-repeat;
    border: 1px solid #9399a0;
    cursor: pointer;

  }

  .Delete {
    background:   #f0efef url("/Content/images/crossRed.png");   
    width: 40px;
    height: 35px;
    background-position: center;
    background-size: 61%;
    background-repeat: no-repeat;
    border: 1px solid #9399a0;
    cursor: pointer;

  }

  .addImg {
    width: 30px;
    margin-top: 13px;
    margin-left: 20px;
    cursor: pointer;
      opacity: 0.6;
 }
  .updateImg {
      width: 16px;
      float: right;
      cursor: pointer;
       opacity: 0.6;
  }
     .updateImg:hover {
     opacity: 1;
  }

  .addImg:hover {
      
    cursor: pointer;
  }

 .Popup {
    display: none;
    position: absolute; 
    left: 50%; 
    top: 50%; 
    height: 340px; 
    width: 490px; 
    margin-left: -230px; 
    margin-top: -240px;
    z-index: 101;
    background: #FFF;
    padding: 25px;
}

.Overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
}

.Input {
    margin: 5px;
    height: 22px;
}

.GreenButton {
    background: #5db25d;
    border: 0px;
    width: 135px;
    height: 33px;
    cursor: pointer;
    padding: 2px;
    color: #FFF;
    font-size: 18px

}
.RedButton {
    background: #a52a2a;
    border: 0px;
    width: 135px;
    height: 33px;
    cursor: pointer;
    padding: 2px;
    color: #FFF;
    font-size: 18px

}
.tr:hover {
    background: #f1ebb2;
    cursor: pointer;
}

.ContactList {
    margin-top: 22px;
   
}

#contact {
      height: 80%;
       overflow: auto;
}